
@{
    ViewData["Title"] = "Product";
}
@model IEnumerable<Catalog>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">@ViewData["Title"]</h1>
</div>
@foreach(var catalog in Model)
{
    <div class="row">
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <h3>@catalog.Description</h3>
                </div>
            </div>
        </div>
    </div>
    
}